body {
	background-image: url("palmtree.jpg");
}

#mainHeading {
	font-family: 'Nixie One', cursive;	
	font-size: 100%;
	float: right ;
	
}
#tabContainer {
	display: horizontal;
	width:22%;
	text-decoration: none;
	padding-left: 2%;
	padding-top: 5%;
	margin: .1em;
	font-family: 'Nixie One', cursive;
	color: white;
	float: right;
}

